<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.42">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.34.1">
      <projectUrl>https://github.com/Nazar802/dockerfile.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.34.1">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2633.v6baeedc13805">
    <script>node {
    def remote = [:]
    
    withCredentials([file(credentialsId: &apos;vm8&apos;, variable: &apos;v8key&apos;)]) {
        remote.identityFile = v8key
        remote.name = &apos;front&apos;
        remote.host = &apos;20.124.183.101&apos;
        remote.user = &apos;azureuser&apos;
        remote.allowAnyHosts = true
        
        stage (&apos;Cleanup&apos;) {
            writeFile file: &apos;cleanup.sh&apos;, text:
            &quot;sudo rm -rf dockerfile\ndocker stop dockerfile_backend1_1 || true &amp;&amp; docker rm dockerfile_backend1_1 || true\ndocker stop dockerfile_backend1_1 || true &amp;&amp; docker rm dockerfile_backend1_2 || true&quot;
            sshScript remote: remote, script: &quot;cleanup.sh&quot;
        }
        
        stage (&apos;Scm Checkout&apos;) {
            git branch: &apos;back&apos;, url: &apos;https://github.com/Nazar802/dockerfile.git&apos;
            sshCommand remote: remote, command: &apos;git clone --branch back https://github.com/Nazar802/dockerfile.git&apos;
        }
        
        stage (&apos;Docker-Compose up&apos;) {
            writeFile file: &apos;start.sh&apos;, text:
            &quot;cd dockerfile\nMY_PASSWORD=${MY_PASSWORD} DATASOURCE_USER=${DATASOURCE_USER} DATASOURCE_PASSWORD=${DATASOURCE_PASSWORD} DATASOURCE_DBNAME=${DATASOURCE_DBNAME} DATASOURCE_URL=${DATASOURCE_URL} JWT_SECRET=${JWT_SECRET} docker-compose up -d --scale backend=2&quot;
            sshScript remote: remote, script: &quot;start.sh&quot;
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>